<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heartape.whisper.mapper.ImSessionAnnouncementMapper">
    <insert id="insertOrUpdate">
        insert into im_session_announcement (session_id, user_id, content)
        values (#{sessionId}, #{userId}, #{content})
        on duplicate key update user_id = #{userId}, content = #{content}
    </insert>
    <select id="selectBySessionId" resultType="com.heartape.whisper.entity.ImSessionAnnouncement">
        select * from im_session_announcement where session_id = #{sessionId}
    </select>
</mapper>